eipa.code-workspace
*.log
*.icloud
*.xlsx
~*.xlsx
*.zip
*/gl20201207
*_.xml
* copy.xml
*_ copy.xml
pint_ja/__pycache__
日本版コアインボイス/*.xlsx
日本版コアインボイス/旧版/*.xlsx
日本版コアインボイス/旧版
日本版コアインボイス/fig
JP-PEPPOL-BIS
pint_ja/data/ISO20022
JP-PINT/__pycache__
JP-PINT/.vscode
JP-PINT/old-version
JP-PINT/log
JP-PINT/data/log
JP-PINT/data/旧版
peppol-bis-invoice-3
欧州標準化委員会
データ検証