
*.log
*.xlsx
*.icloud
*.pdf
*.zip
/Users/pontsoleil/Documents/GitHub/EIPA/XBRL JAPANからの提言/*
/Users/pontsoleil/Documents/GitHub/EIPA/XBRL JAPANからの提言/*/*
/Users/pontsoleil/Documents/GitHub/EIPA/XBRL JAPANからの提言/*/*/*
/Users/pontsoleil/Documents/GitHub/EIPA/欧州標準化委員会/*
/Users/pontsoleil/Documents/GitHub/EIPA/欧州標準化委員会/*/*
/Users/pontsoleil/Documents/GitHub/EIPA/欧州標準化委員会/*/*/*