eipa.code-workspace
*.log
*.icloud
*.xlsx
~*.xlsx
*.zip
*/gl20201207
*_.xml
* copy.xml
*_ copy.xml
*.xsd
pint_ja/__pycache__
JP-PINT/billing-japan
日本版コアインボイス/*.xlsx
日本版コアインボイス/旧版/*.xlsx
日本版コアインボイス/旧版
日本版コアインボイス/fig
JP-PEPPOL-BIS
pint_ja/data/ISO20022
peppol-bis-invoice-3
欧州標準化委員会
データ検証
コアインボイス/旧版
コアインボイス/Open_Peppol/旧版/*
JP-PINT/data/旧版/*
~*.*
JP-PINT-BIS/Specifications/old-version
JP-PINT-BIS/Validation documents/XSLT/img
old-version
*.yaml
JP-PINT-BIS/課題管理
JP-PINT-BIS/billing-1.0-resources-dev/*
JP-PINT-BIS/billing-1.0-resources-dev 2/*
JP-PINT-BIS/billing-1.0-resources-dev 3/*
JP-PINT-BIS/billing-1.0-resources-dev 3/common/*
JP-PINT-BIS/billing-1.0-resources-dev 3/common/docs/*
JP-PINT-BIS/billing-1.0-resources-dev-4/*
JP-PINT-BIS/billing-1.0-resources-nobu/*
JP-PINT-BIS/delivery-note-1.0-resources-dev
JP-PINT-BIS/ISO_Framework.pdf
FinishingPINT/*
JP-PINT-BIS/*
JP-PINT/*
pint_ja/data/in/*
pint_ja/data/out/*
pint_ja/data/sch/*
billing-1.0-resources-dev 3
FinishingPINT
解説書