@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

html {
  font-size: 87.5%; /* font-size 1rem = 14px on default browser settings */
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.page-header i.fa-square {
  color: #007bff;
}

.list-group-item:hover {
  color: #efefef!important;
  background-color: #9b9b9b;
}

span.link.hover {
  color: #efefef!important;
  background-color: #8a8a8a;
}

table tbody tr.group {
  background-color: #f8f8f8;
}

table tbody tr td.expand-control:hover,
table tbody tr td.info-link:hover {
  color: #efefef!important;
  background-color: #8a8a8a;
}

table tbody tr td.info-link:hover a {
  color: #efefef!important;
}

table tbody tr span.found {
  background-color: #b7fdf7;
}

table.rules th:nth-child(2),
table.rules td:nth-child(2) {
  text-align: center;
}

.nav-item,
.navbar-collapse {
  list-style: none;
}

nav.navbar form div.collapse.navbar-collapse {
  height: 1.5rem;
}

#gotoTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0.5rem; /* Place the button at the bottom of the page */
  right: 1rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #64dbeb; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.5rem 0.7rem; /* Some padding */
  border-radius: 0.5rem; /* Rounded corners */
  font-size: 1rem; /* Increase font size */
}
#gotoTopButton:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#nav-menu {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 1;
}
#nav-menu input.search {
  width: 8rem;
}

#navbarDropdown {
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "\f101" !important;
  color: #a4a8a8;
  font-family: 'fontAwesome';  
}