/**
 * validate
 */
#validate header {
  background-image: linear-gradient(to bottom right,#efefef , #fcfdfe);
}
#validate header * {
  color: #808080;
}
/**
 * progressbar
 */
#progressbar {
  width: 100%;
  background: transparent;
  height: 16px;
}
#progressbar .bar {
  height: 16px;
  background-color: indigo;
}
/**
 * snackbar
 */
 #snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 0px;
  font-size: 17px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: -20px; opacity: 0;} 
  to {bottom: 0px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: -20px; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 0px; opacity: 1;} 
  to {bottom: -20px; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 0px; opacity: 1;}
  to {bottom: -20px; opacity: 0;}
}

